# ETL Query Test

In [1]:
%load_ext sql
import configparser

In [2]:
# Load the necessary credentials
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT= config.get("CLUSTER","DB_PORT")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)
%sql $conn_string

'Connected: dwhuser@dwh'

In [5]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cixdwida81uz.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [6]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cixdwida81uz.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, 1541207073796, None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', '1541077528796', 52, None, 200, 1541207123796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', '1541077528796', 52, 'Playa Haters', 200, 1541207150796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', '1541077528796', 52, 'You Belong With Me', 200, 1541207316796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', '1541077528796', 52, 'Valerie', 200, 1541207546796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53)]

In [7]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cixdwida81uz.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARL7K851187B99ACD2', None, '', None, 'Andy Andy', 226.35057, 1, 'SOMUYGI12AB0188633', 'La Culpa', 0),
 ('ARQAQWE1187FB49906', None, '', None, 'Arrah and the Ferns', 185.0771, 1, 'SOAHSWE12A8C1408B6', 'Bernadette', 2006),
 ('ARBR4UG1187B9B5A9D', None, '', None, 'Casper & The Cookies', 211.56526, 1, 'SOOHIUW12AB018077F', 'Learn How To Disappear', 2006),
 ('ARTB5PP1187FB523B7', Decimal('41'), 'Chicago, IL', Decimal('-87'), 'Donny Hathaway', 283.21914, 1, 'SOYZOXW12A8C13E195', 'Little Girl (LP Version)', 1971),
 ('ARJWKMA1187B9A9D11', Decimal('41'), 'Mishawaka, IN', Decimal('-86'), 'Lisa Germano', 281.93914, 1, 'SOGDNAW12A6D4F6804', 'The Darkest Night Of All', 1994)]

In [8]:
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cixdwida81uz.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(3, datetime.datetime(2018, 11, 29, 0, 40, 14), 24, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 984, 'Pikeville, KY', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (10, datetime.datetime(2018, 11, 28, 22, 32, 42), 73, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 954, 'Pikeville, KY', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (17, datetime.datetime(2018, 11, 29, 16, 9, 24), 49, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 1041, 'Pikeville, KY', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (24, datetime.datetime(2018, 11, 15, 13, 44, 58), 30, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 324, 'Pikeville, KY', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (39, datetime.datetime(2018, 11, 24, 17, 29, 19), 29, 'paid', 'SODKJWI12A8151BD74', 'ARM0P6Z1187FB4D466', 898, 'Sheffield, South Yorkshire, Engla', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [9]:
%sql SELECT * FROM users LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cixdwida81uz.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(18, 'Jacob', 'Rogers', 'M', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free'),
 (35, 'Molly', 'Taylor', 'F', 'free'),
 (37, 'Jordan', 'Hicks', 'F', 'free')]

In [10]:
%sql SELECT * FROM songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cixdwida81uz.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, 216.05832),
 ('SOAAKBE12A8C139075', 'Emília', 'ART1OPW1187FB3C5EF', 0, 159.7122),
 ('SOAAOLZ12A6D4FB403', 'Somebody Knew', 'ARRSUF71187FB52F33', 1997, 188.08118),
 ('SOAASSD12AB0181AA6', 'Song From Moulin Rouge', 'ARKXLIJ1187B9A4C54', 0, 195.02975),
 ('SOAAVQK12A6D4F76E0', 'Ik Laat Je Vrij', 'ARCULXA1269FCD4F8D', 1979, 239.85587)]

In [11]:
%sql SELECT * FROM artists LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cixdwida81uz.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR01G6G1187B9892EF', 'Tonino Carotone', '', None, None),
 ('AR026PU1187FB43FD9', 'The Vapors', '', None, None),
 ('AR049S81187B9AE8A5', 'The Human League', 'Sheffield, Yorkshire, England', Decimal('53'), Decimal('-1')),
 ('AR05IU31187B9B9A1A', 'Alex Ubago', 'Vitoria, Spain', Decimal('42'), Decimal('-2'))]

In [12]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cixdwida81uz.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 3, 21, 14, 28), 21, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 5, 1, 58, 24), 1, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 14, 39, 43), 14, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 16, 4, 5), 16, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 18, 0, 37), 18, 5, 45, 11, 2018, 1)]